# Pandas introduction, homework 7

## Preload

### Libraries

In [1]:
import numpy as np
import pandas as pd
import io
from google.colab import files
import matplotlib.pyplot as plt

### Upload CSV

zoo.csv

In [2]:
data_to_load = files.upload()
zoo = pd.read_csv(io.BytesIO(data_to_load['zoo.csv']))

Saving zoo.csv to zoo (5).csv

countries.csv

In [3]:
data_to_load = files.upload()
countries = pd.read_csv(io.BytesIO(data_to_load['countries.csv']), delimiter=';', names = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'])

Saving countries.csv to countries (3).csv

### Check data

In [4]:
print(zoo)

      animal  uniq_id  water_need
0   elephant     1001         500
1   elephant     1002         600
2   elephant     1003         550
3      tiger     1004         300
4      tiger     1005         320
5      tiger     1006         330
6      tiger     1007         290
7      tiger     1008         310
8      zebra     1009         200
9      zebra     1010         220
10     zebra     1011         240
11     zebra     1012         230
12     zebra     1013         220
13     zebra     1014         100
14     zebra     1015          80
15      lion     1016         420
16      lion     1017         600
17      lion     1018         500
18      lion     1019         390
19  kangaroo     1020         410
20  kangaroo     1021         430
21  kangaroo     1022         410

In [5]:
print(countries)

              my_datetime event    country     user_id   source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
...                   ...   ...        ...         ...      ...            ...
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1795 rows x 6 columns]

## Excersice 1

1: Using the ZOO dataset and pandas:

1.   Count the number of rows (the number of animals) in zoo (count())

In [6]:
print("number of rows (the number of animals): " + str(zoo.animal.count()))

number of rows (the number of animals): 22

2.   Calculate the total water need of the animals (sum())

In [7]:
print("Total water need: " + str(zoo.water_need.sum()))

Total water need: 7650

3.   Find out which is the smallest water need value (min())

In [8]:
print("Min value: " + str(zoo.water_need.min()))

Min value: 80

4.    Find out which is the greatest water need value (max())

In [9]:
print("Min value: " + str(zoo.water_need.max()))

Min value: 600

5.   Find out the average water need value (mean(),median())

In [10]:
print("Mean: " + str(zoo.water_need.mean()))

Mean: 347.72727272727275

In [11]:
print("Median: " + str(zoo.water_need.median()))

Median: 325.0

6.   Group in Pandas

In [12]:
zoo.groupby('animal').mean()[['water_need']]

          water_need
animal
elephant  550.000000
kangaroo  416.666667
lion      477.500000
tiger     310.000000
zebra     184.285714

## Excersice 2

2: Using the Countries dataset and pandas:

*   Say whatâ€™s the most frequent source in this dataset?

In [13]:
countries.groupby('source').count()

         my_datetime  event  country  user_id  topic
source
AdWords          500    500      500      500    500
Reddit           949    949      949      949    949
SEO              346    346      346      346    346

*   For the users of country_2, what was the most frequent
topic and source combination? Or in other words: which
topic, from which source, brought the most views from
country_2?

In [14]:
countries[countries.country == 'country_2'].groupby(['source', 'topic']).count()

                       my_datetime  event  country  user_id
source  topic
AdWords Africa                   3      3        3        3
        Asia                    31     31       31       31
        Australia                6      6        6        6
        Europe                  46     46       46       46
        North America           11     11       11       11
        South America           14     14       14       14
Reddit  Africa                  24     24       24       24
        Asia                   139    139      139      139
        Australia               18     18       18       18
        Europe                  29     29       29       29
        North America           27     27       27       27
        South America           26     26       26       26
SEO     Africa                   7      7        7        7
        Asia                     9      9        9        9
        Australia               10     10       10       10
        Europe                   4      4        4        4
        North America           42     42       42       42
        South America           16     16       16       16

## Prepared by:

Viktor Surzhko